@import "vars";
@import "toolbar";
@import "tooltip";
@import "lists";
@import "inputs";

body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: $bg-color;
    color: $text-color;

    height: 100dvh;
    border: 2px solid $border-color
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 1em;
    border-bottom: 2px solid $border-color-lighter;
}

.divider {
    width: 100%;
    height: 2px;
    background-color: $border-color-lighter;
}

::selection {
    background-color: lighten($border-color, 20%);
    color: $text-color;
}