$bg-color: #2f2b2b;
$text-color: #fff;
$border-color: #38333d;
$border-color-lighter: #4a454f;

$chip-color: #4a454f;
$chip-color-hover: #5c575f;

$btn-minimize: #d5b431;
$btn-maximize: #2eba2e;
$btn-close: #ba3030;
$btns: (
    minimize: $btn-minimize,
    maximize: $btn-maximize,
    close: $btn-close
);

$button-color: $border-color-lighter;
$button-color-outline: $border-color;