@import "vars.css";
@import "toolbar.css";

body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);

    height: 100dvh;
    border: 2px solid var(--border-color);
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}
