@import "vars";

#title-bar {
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    background-color: $border-color;
    -webkit-app-region: drag;
}

/* Title: Toolbar */

.title {
    font-size: 1.5em;
    margin: 0;
    padding: 0.5em 0;
    letter-spacing: 0.1em;
    font-weight: 400;
}

/* Navbar */

nav {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    -webkit-app-region: no-drag;

    & > ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1em;
        height: 100%;
    }
}

.chip {
    background-color: $chip-color;
    padding: 0.5em 1em;
    border-radius: 1em;
    cursor: pointer;
    transition: background-color 0.2s;
    user-select: none;

    &:hover {
        background-color: $chip-color-hover;
    }

    &:active {
        background-color: $chip-color;
    }
}

/* Buttons */

.toolbar-btn {
    width: 20px;
    height: 10px;
    cursor: pointer;
    border-radius: 1em;
    transition: box-shadow 0.2s;
}

.toolbar-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2em 1em;
    -webkit-app-region: no-drag;
}

@mixin btn($btn-name) {
    ##{$btn-name} {
        background-color: map-get($btns, $btn-name);
        box-shadow: 0 0 2px map-get($btns, $btn-name);

        &:hover {
            box-shadow: 0 0 5px map-get($btns, $btn-name);
        }
    }
}

@include btn("minimize");
@include btn("maximize");
@include btn("close");

/* Misc */

.horizontal-divider-light {
    width: 2px;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: $border-color-lighter;
}