:root {
    --bg-color: #2f2b2b;
    --text-color: #fff;
    --border-color: #38333d;

    --btn-minimize: #d5b431;
    --btn-maximize: #2eba2e;
    --btn-close: #ba3030;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: 15px;
}

.title {
    font-size: 1.5em;
    margin: 0;
    padding: 0.5em 0;
    letter-spacing: 0.1em;
    font-weight: 400;
}

#title-bar {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    background-color: var(--border-color);
}

.toolbar-btn {
    width: 20px;
    height: 10px;
    cursor: pointer;
    border-radius: 1em;

    transition: box-shadow 0.2s;
}

.toolbar-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2em 1em;
}

#minimize {
    background-color: var(--btn-minimize);
    box-shadow: 0 0 2px var(--btn-minimize);
}

#minimize:hover {
    box-shadow: 0 0 5px #ffdd00;
}

#maximize {
    background-color: var(--btn-maximize);
    box-shadow: 0 0 2px var(--btn-maximize);
}

#maximize:hover {
    box-shadow: 0 0 5px #00ff00;
}

#close {
    background-color: var(--btn-close);
    box-shadow: 0 0 2px var(--btn-close);
}

#close:hover {
    box-shadow: 0 0 5px #ff0000;
}